apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: sast-ai-grafana
  labels:
    dashboards: "grafana"
    app: sast-ai-orchestrator
spec:
  config:
    log:
      mode: "console"
    auth:
      disable_login_form: "false"
    security:
      admin_user: "admin"
      admin_password: "admin"
  deployment:
    spec:
      replicas: 1
      template:
        spec:
          containers:
            - name: grafana
              image: grafana/grafana:11.0.0
  service:
    metadata:
      annotations:
        service.beta.openshift.io/serving-cert-secret-name: grafana-tls
    spec:
      ports:
        - name: grafana
          port: 3000
          protocol: TCP
          targetPort: 3000
  ingress:
    metadata:
      annotations:
        route.openshift.io/termination: edge
    spec:
      hostname: sast-ai-grafana-sast-ai-mlops.apps.cluster.example.com
      # Update this hostname to match your cluster's domain