{{- if and (not .Values.postgres.enabled) (not .Values.externalDatabase.existingSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-external-db" (include "sast-ai.fullname" .) }}
  labels:
    {{- include "sast-ai.labels" . | nindent 4 }}
  {{- with (include "sast-ai.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  password: {{ .Values.externalDatabase.password | b64enc | quote }}
{{- end }} 